.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}
@media (max-width: 900px) {
  .App {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: auto;
  }
}

.box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px royalblue;
  overflow: hidden;
  animation: myAnimation 6s infinite;
}
@keyframes myAnimation {
  0% {
    box-shadow: 5px 5px 10px royalblue;
  }
  33% {
    box-shadow: 5px 5px 10px rgb(249, 90, 90);
  }
  66% {
    box-shadow: 5px 5px 10px rgb(156, 255, 107);
  }
  100% {
    box-shadow: 5px 5px 10px rgb(8, 64, 235);
  }
}

.pic {
  width: 200px;
  height: 200px;
}
textarea {
  width: 90%;
  height: 350px;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px white;
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: x-large;
}
@media (max-width: 900px) {
  textarea {
    width: 160%;
    height: 250px;
  }
}
@media (max-width: 450px) {
  textarea {
    width: 160%;
    height: 250px;
  }
}

button {
  width: 80%;
  border: none;
  outline: none;
  background-color: royalblue;
  color: white;
  padding: 10px;
  font-size: x-large;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
button:hover {
  box-shadow: 5px 5px 10px white;
}
.label {
  color: white;
  font-size: xx-large;
  font-weight: 600;
}
